body {
padding-top: 80px;

}

h3.text-white {
padding-top: 80px;
}

div#home.px-3.mb-3 {
  padding-top: 90px;
}

h3#product.text-center {
  padding-top: 90px;
}

.custom-gradient-darkblue { 
  background: linear-gradient(90deg, #000000, #0d6efd); 
}

div h1 {
font-style: oblique;
  color: #010101;
  
}

div h1 span {
  color:  #fa5b0f
  
}

.error {
  color: red;
  font-size: 12px;
}

.input-error {
  border: 1px solid red;
  
}

textarea#address.form-control {
margin: 0.5rem 0 1%;
}

input#name.form-control {
  margin: 0.5rem 0 1%;
} 

  button.btn.btn-warning.position-fixed.bottom-0.start-0.m-4.shadow-lg.rounded-pill.p-1 {
  z-index: 9999;
} 

label.form-label {
     
    position: relative;
}
nav h1 {
  color: #eaeaea;
}

/* icon whatsapp */
.whatsapp-float {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 100px; /* Jarak dari bawah, diatur agar di atas tombol keranjang/menu */
  right: 2rem;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  z-index: 9999; /* Agar selalu di posisi paling depan */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
  bottom: 1.5rem;
  animation: ring 1.5s infinite ease-in-out;
}

@keyframes ring {
  0% { transform: rotate(0); }
  10% { transform: rotate(30deg); }
  20% { transform: rotate(-30deg); }
  30% { transform: rotate(20deg); }
  40% { transform: rotate(-20deg); }
  50% { transform: rotate(14deg); }
  60% { transform: rotate(-14deg); }
  100% { transform: rotate(0); }
}

.whatsapp-float:hover {
  background-color: #128c7e;
  color: #FFF;
  transform: scale(1.1);
}