body {
padding-top: 80px;

}

.custom-gradient-darkblue { 
  background: linear-gradient(90deg, #000000, #0d6efd); 
}

div h1 {
font-style: oblique;
  color: #010101;
  
}

div h1 span {
  color:  #fa5b0f
  
}

.error {
  color: red;
  font-size: 12px;
}

.input-error {
  border: 1px solid red;
  
}

textarea#address.form-control {
margin: 0.5rem 0 1%;
}

input#name.form-control {
  margin: 0.5rem 0 1%;
} 

button.btn.btn-warning.position-fixed.bottom-0.end-0.m-4.shadow-lg.rounded-pill.p-3 {
  z-index: 9999;
}



